.box1 {
  min-height: 40vh;
  width: 28%;
  margin: auto;
  display: inline-table;
}

.box2 {
  min-height: 40vh;
  width: 53%;
  margin: auto;
  display: inline-table;
}

.box3 { 
  min-height: 40vh;
  width: 18%;
  margin: auto;
  display: inline-table;
}

.box4 {
  min-height: 54vh;
  width: 46%;
  margin: auto;
  display: inline-table;
}

h1 {
	margin-top: 120px;
}

.box5 {
  min-height: 54vh;
  width: 53%;
  margin: auto;
  display: inline-table;
}

.meddon {
	font-family: 'Meddon', cursive;
}

.open {
	font-family: 'Open Sans', sans-serif;
}

.crimson { 
	font-family: 'Crimson Text', serif;
}

.arvo {
	font-family: 'Arvo', serif;
}

.green {
	  background-color: #CCE21B;
}

.light_blue {
  background-color: #23F2C9;
}

.dark_blue {
  background-color: #16DFC;
}

.mustard_yellow {
  background-color: #E59B27;
}
.ugly_brown {
	background-color: #A14511
}
